.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
  
.country-card {
    display: flex;
    align-items: center;
    background-color: #e5e0b1;
    border: 1px solid #020101;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: all .3s ease-in-out;
}

.country-card:hover {
    transform: scale(1.05);
    border-radius: 0;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.8);
}
  
.country-flag {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.country-details a {
    cursor: pointer;
}